.container {
    padding-top: 5px;
}
.row {
    margin-bottom: 3px;
}
.detailed-car-image {
    height: 200px;
}
.col-md-8 {
    padding-top: 3px;
}
.col-md-7 {
    padding-top: 48px;
}
.btn-outline-success {
    margin-left: 3px;
}
.list-group-item {
    cursor: pointer;
}
.modal {
    display: block;
}

.phone-enter-active, .phone-leave-active {
    transition: all 0.5s;
}

.phone-enter, .phone-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

.modal-enter-active, .modal-leave-active {
    transition: all 0.5s;
}

.modal-enter, .modal-leave-to {
    transform: translateY(-100px);  
}